%ul.nav.nav-tabs.js-chart-nav
  %li.active
    %a{href: '#line_chart', data: {toggle: 'tab'}}
      Line
  %li
    %a{href: '#candlestick_chart', data: {toggle: 'tab'}}
      Candlestick
.tab-content
  .tab-pane.active{id: 'line_chart'}
    .progress.progress-striped.active
      .bar{style: 'width: 100%;'}
    .js-chart-error{style: 'display: none'}
      .alert.alert-error
        Chart could not be loaded.
    .js-chart.js-line-chart{style: 'height: 500px; min-width: 500px', data: {symbol: quote.symbol}}
  .tab-pane{id: 'candlestick_chart'}
    .progress.progress-striped.active{style: 'display: none'}
      .bar{style: 'width: 100%;'}
    .js-chart-error{style: 'display: none'}
      .alert.alert-error
        Chart could not be loaded.
    .js-chart.js-candlestick-chart{style: 'height: 500px; min-width: 500px', data: {symbol: quote.symbol}}