.row
  .span4
    %h2 Search Quotes
    .well
      = form_tag quotes_search_path, method: 'get' do
        .controls
          = label_tag(:symbol, 'Enter symbol:')
          .control-group
            = text_field_tag(:symbol, nil, maxlength: 4)
          = submit_tag 'Search', class: 'btn btn-primary'

.row
  .span12
    = link_to 'Back', holdings_path, :class => 'btn'
