.row
  .span4
    %h2 Show Quote
    .well
      %p
        %strong Name:
        = @quote.name
      %p
        %strong Symbol:
        = @quote.symbol
      %p
        %strong Stock Exchange:
        = @quote.stock_exchange
      %p
        %strong Ask:
        = to_currency(@quote.ask)
      %p
        %strong Bid:
        = to_currency(@quote.bid)
      %p
        %strong Book Value per Share:
        = to_currency(@quote.book_value_per_share)
      %p
        %strong Previous Close:
        = to_currency(@quote.previous_close)
      %p
        %strong Day Low:
        = to_currency(@quote.day_low)
      %p
        %strong Day High:
        = to_currency(@quote.day_high)
      %p
        %strong Year Low:
        = to_currency(@quote.year_low)
      %p
        %strong Year High:
        = to_currency(@quote.year_high)

  .span8
    = render partial: 'quotes/charts', locals: {quote: @quote}
.row
  .span12
    = link_to 'Add Holding', new_holding_path(:holding => {:symbol => @quote.symbol}), :class => 'btn btn-primary'
    = link_to 'Back', holdings_path, :class => 'btn'
