%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .row
    .span8
      .well
        .control-group
          = f.label :email
          .controls
            = f.email_field :email, :autofocus => true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .control-group
          = f.label :password
          %span.help-inline (leave blank if you don't want to change it)
          .controls
            = f.password_field :password, :autocomplete => 'off'
        .control-group
          = f.label :password_confirmation
          .controls
            = f.password_field :password_confirmation
        .control-group
          = f.label :current_password
          %span.help-inline (we need your current password to confirm your changes)
          .controls
            = f.password_field :current_password
        .form-actions
          = f.submit 'Update', class: 'btn btn-primary'
    .span4
      %div
        %h3 Cancel my account
        .control-group
          %p Unhappy?
          .controls
            = button_to 'Cancel my account', registration_path(resource_name), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-danger'

.row
  .span12
    = link_to 'Back', holdings_path, :class => 'btn'