%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f|
  = devise_error_messages!
  .control-group
    = f.label :email
    .controls
      = f.email_field :email, :autofocus => true
  .control-group
    = f.label :password
    .controls
      = f.password_field :password
  .control-group
    = f.label :password_confirmation
    .controls
      = f.password_field :password_confirmation
  .form-actions
    = f.submit 'Sign up', class: 'btn btn-primary'
= render 'devise/shared/links'