= form_for @holding, :validate => true do |f|
  - if @holding.errors.any?
    #error_explanation
      %h2
        = pluralize(@holding.errors.count, 'error')
        prohibited this holding from being saved:
      %ul
        - @holding.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :symbol
    .controls
      = f.text_field :symbol
  .control-group
    = f.label :price
    .controls
      = f.text_field :price
  .control-group
    = f.label :quantity
    .controls
      = f.text_field :quantity
  .form-actions
    = f.submit class: 'btn btn-primary'