%h1 Editing holding
= render 'form'
.row
  .span12
    = link_to 'Show', @holding, :class => 'btn'
    = #link_to 'Destroy', @holding, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'
    = link_to 'Back', holdings_path, :class => 'btn'