%h1 Listing holdings
%table.table.table-striped.table-hover
  %thead
    %tr
      %th
        Symbol
      %th.hidden-phone
        Name
      %th.hidden-phone
        Price
      %th.hidden-phone
        Quantity
      %th.hidden-phone
        Purchase Value
      %th
        Computed Value
      %th
        Change
      %th
        \% Change
      %th.hidden-phone
      %th.hidden-phone
      %th.hidden-phone
  %tbody
    - @holdings.each do |holding|
      - quote = @quotes_map[holding.symbol]
      %tr
        %td
          = link_to holding.symbol, holding
        %td.hidden-phone
          = quote.name
        %td.hidden-phone
          = number_to_currency(holding.price)
        %td.hidden-phone
          = holding.quantity.round(2)
        %td.hidden-phone
          = number_to_currency(purchase_value(holding))
        %td
          = to_currency(computed_value(holding, quote))
        %td{:class => change_text_class(change(holding, quote))}
          = to_currency(change(holding, quote))
          %i{:class => change_icon_class(change(holding, quote))}
        %td{:class => change_text_class(percent_change(holding, quote))}
          = to_currency(percent_change(holding, quote))
          %i{:class => change_icon_class(percent_change(holding, quote))}
        %td.hidden-phone
          = link_to 'Show', holding, :class => 'btn btn-mini btn-primary'
        %td.hidden-phone
          = link_to 'Edit', edit_holding_path(holding), :class => 'btn btn-mini'
        %td.hidden-phone
          = link_to 'Destroy', holding, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
%br/
.row
  .span12
    = link_to 'New Holding', new_holding_path, :class => 'btn btn-primary'