.row
  .span4
    %h2 Show Holding
    .well
      %p
        %strong Name:
        = @quote.name
      %p
        %strong Symbol:
        = @holding.symbol
      %p
        %strong Price:
        = number_to_currency(@holding.price)
      %p
        %strong Quantity:
        = @holding.quantity
      %p
        %strong Purchase Value:
        = number_to_currency(purchase_value(@holding))
      %p
        %strong Computed Value:
        = to_currency(computed_value(@holding, @quote))
      %p
        %strong Change:
        %span{:class => change_text_class(change(@holding, @quote))}
          = to_currency(change(@holding, @quote))
          %i{:class => change_icon_class(change(@holding, @quote))}
      %p
        %strong % Change:
        %span{:class => change_text_class(percent_change(@holding, @quote))}
          = to_percentage(percent_change(@holding, @quote))
          %i{:class => change_icon_class(percent_change(@holding, @quote))}
  .span8
    = render partial: 'quotes/charts', locals: {quote: @quote}
.row
  .span12
    .page-controls
      = link_to 'Edit', edit_holding_path(@holding), :class => 'btn btn-primary'
      = link_to 'Destroy', @holding, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'
      = link_to 'Back', holdings_path, :class => 'btn'