%h2 Change your password
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .control-group
    = f.label :password, 'New password'
    .controls
      = f.password_field :password, :autofocus => true
  .control-group
    = f.label :password_confirmation, 'Confirm new password'
    .controls
      = f.password_field :password_confirmation
  .form-actions
    = f.submit 'Change my password', class: 'btn btn-primary'
= render 'devise/shared/links'