%h2 Forgot your password?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  .control-group
    = f.label :email
    .controls
      = f.email_field :email, :autofocus => true
  .form-actions
    = f.submit 'Send me reset password instructions', class: 'btn btn-primary'
= render 'devise/shared/links'