%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .control-group
    = f.label :email
    .controls
      = f.email_field :email, :autofocus => true
  .control-group
    = f.label :password
    .controls
      = f.password_field :password
  - if devise_mapping.rememberable?
    .control-group
      = f.label :remember_me, class: 'checkbox' do
        = f.check_box :remember_me
        Remember me
  .form-actions
    = f.submit 'Sign in', class: 'btn btn-primary'
= render 'devise/shared/links'