!!! 5
%html
  %head
    %title Portfolio Manager
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{:type => 'button', :data => {:toggle => 'collapse', :target => '.nav-collapse'}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href=>'#'} Portfolio Manager
          %div.nav-collapse.collapse
            %ul.nav
              %li
                = link_to 'Home', root_path
              %li
                = link_to 'Bitbucket', 'https://bitbucket.org/velci/portfolio-manager'
          %div.nav-collapse.collapse.pull-right
            = form_tag quotes_search_path, method: 'get', class: 'navbar-form form-search pull-left' do
              = text_field_tag(:symbol, nil, maxlength: 4, class: 'search-query', placeholder: 'Search symbol')
            %ul.nav
              - if !user_signed_in?
                %li
                  = link_to 'Login', new_user_session_path
                %li
                  = link_to 'Register', new_user_registration_path
              - if user_signed_in?
                %li
                  = link_to 'Settings', edit_user_registration_path
                %li
                  = link_to 'Logout', destroy_user_session_path, :method => :delete

    .container
      .row
        .span12
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              %div{:class => "alert alert-#{name == :notice ? 'success' : 'error'}"}
                %a.close{'data-dismiss' => 'alert'} ×
                = content_tag :div, msg, :id => "flash_#{name}"
      = yield
    %footer.footer